.PopoverContent {
  background-color: var(
    --color-background-popover,
    var(--color-background-primary)
  );
  color: var(--color-font-popover, var(--color-font-base));
  box-shadow: var(--size-box-shadow-sm);
  padding: var(--size-spacing-lg);
  border-radius: var(--size-border-radius-sm);
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.PopoverContent[data-side='top'] {
  animation-name: slideUp;
}
.PopoverContent[data-side='bottom'] {
  animation-name: slideDown;
}
.PopoverContent[data-side='left'] {
  animation-name: slideLeft;
}
.PopoverContent[data-side='right'] {
  animation-name: slideRight;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-7px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(7px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(7px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-7px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
