.help-text {
  font-family: var(
    --form-control-font-family,
    var(--INTERNAL_form-control-font-family)
  );
  margin-top: var(--size-spacing-xs);
  font-weight: var(
    --form-control-help-text-font-weight,
    var(--INTERNAL_form-control-help-text-font-weight)
  );
}
