.spinner {
  --spinner-primary-color: var(--color-brand-primary-500);
  --spinner-secondary-color: var(--color-brand-secondary-500);
  --spinner-tertiary-color: var(--color-brand-tertiary-500);
  --spinner-white-color: var(--color-brand-white-500);
  --spinner-black-color: var(--color-brand-black-500);
  --spinner-grey-color: var(--color-brand-grey-500);
  --spinner-light-color: var(--color-brand-light-500);
  --spinner-dark-color: var(--color-brand-dark-500);
  --spinner-info-color: var(--color-brand-info-500);
  --spinner-danger-color: var(--color-brand-danger-500);
  --spinner-warning-color: var(--color-brand-warning-500);
  --spinner-success-color: var(--color-brand-success-500);
  --spinner-transparent-color: var(--color-brand-transparent-500);

  svg {
    display: inherit;
    animation: spin 0.85s infinite linear;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}