.card-background {
  background-color: var(--card-background-color, var(--color-base-white-500));
}

.card-radius {
  border-radius: var(--card-border-radius, var(--size-border-radius-lg));
}

.card-shadow {
  box-shadow: var(--card-box-shadow, var(--size-box-shadow-sm));
}

.card-section-border {
  + .card-section-border {
    border-top: 1px solid
      var(--card-section-border-color, var(--color-base-grey-200));
  }
}

.card-subdued {
  background-color: var(
    --card-subdued-background-color,
    var(--color-base-grey-50)
  );
  box-shadow: none;

  .card-section-border {
    + .card-section-border {
      border-top: 1px solid
        var(--card-section-subdued-border-color, var(--color-base-grey-200));
    }
  }
}

.card-footer-background {
  background-color: var(
    --card-footer-background-color,
    var(--color-base-grey-50)
  );
}

.card-footer-border-color {
  border-color: var(--card-section-border-color, var(--color-base-grey-200));
}
