.heading {
  line-height: var(--heading-line-height, var(--size-line-height-heading));
  font-family: var(--heading-font-family, var(--assets-font-family-brand));
  font-weight: var(--heading-font-weight, var(--size-font-weight-medium));
}
