.alert {
  border-width: var(--alert-border-width, var(--size-border-width-sm));
  border-style: solid;
  box-shadow: var(--alert-box-shadow, var(--size-box-shadow-0));
  font-family: var(--alert-font-family, var(--asset-fonts-body));

  .close-icon {
    > button {
      border: 0;
      background: none;
      cursor: pointer;
      padding: 0;
      color: inherit;
      font: inherit;

      &:hover {
        color: var(--color-base-grey-600);
      }
    }
  }
}

.alert-heading {
  line-height: var(--size-line-height-heading);
}

.alert__default {
  color: var(--alert-default-font-color, var(--color-base-grey-500));
  background: var(--alert-default-background-color, var(--color-base-grey-100));
  border-color: var(--alert-default-border-color, var(--color-base-grey-200));
}

.alert__info {
  color: var(--alert-info-font-color, var(--color-base-grey-500));
  background: var(--alert-info-background-color, var(--color-base-blue-50));
  border-color: var(--alert-info-border-color, var(--color-base-blue-200));
}

.alert__success {
  color: var(--alert-success-font-color, var(--color-base-grey-500));
  background: var(--alert-success-background-color, var(--color-base-green-50));
  border-color: var(--alert-success-border-color, var(--color-base-green-200));
}

.alert__warning {
  color: var(--alert-warning-font-color, var(--color-base-grey-500));
  background: var(
    --alert-warning-background-color,
    var(--color-base-yellow-50)
  );
  border-color: var(--alert-warning-border-color, var(--color-base-yellow-200));
}

.alert__danger {
  color: var(--alert-danger-font-color, var(--color-base-grey-500));
  background: var(--alert-danger-background-color, var(--color-base-red-50));
  border-color: var(--alert-danger-border-color, var(--color-base-red-200));
}

.alert__icon__default {
  color: var(--alert-default-icon-color, var(--color-base-grey-600));
}
.alert__icon__info {
  color: var(--alert-info-icon-color, var(--color-base-blue-500));
}
.alert__icon__success {
  color: var(--alert-success-icon-color, var(--color-base-green-500));
}
.alert__icon__warning {
  color: var(--alert-warning-icon-color, var(--color-base-yellow-500));
}
.alert__icon__danger {
  color: var(--alert-danger-icon-color, var(--color-base-red-500));
}
