.hyphen-components__variables__form-control {
  // ----GLOBALS----
  --INTERNAL_form-control-box-shadow-focus: 0 0 0 3px var(--color-border-subtle);
  --INTERNAL_form-control-label-margin: var(--size-spacing-xs);
  --INTERNAL_form-control-help-margin: var(--size-spacing-2xs);
  --INTERNAL_form-control-line-height: var(--size-line-height-input);
  --INTERNAL_form-control-label-font-weight: var(--size-font-weight-medium);
  --INTERNAL_form-control-legend-font-weight: var(--size-font-weight-medium);
  --INTERNAL_form-control-help-font-weight: var(--size-font-weight-normal);
  --INTERNAL_form-control-box-shadow: 0 3px 0 rgb(0 0 0 / 5%);
  --INTERNAL_form-control-font-family: var(--assets-font-family-body);

  // --SIZES--

  // small
  --INTERNAL_form-control-size-sm-border-radius: var(--size-border-radius-sm);
  --INTERNAL_form-control-size-sm-font-size: var(--size-font-size-xs);
  --INTERNAL_form-control-size-sm-padding: var(--size-spacing-sm);

  // medium (default)
  --INTERNAL_form-control-size-md-label-size: var(--size-font-size-sm);
  --INTERNAL_form-control-size-md-border-radius: var(--size-border-radius-sm);
  --INTERNAL_form-control-size-md-font-size: var(--size-font-size-sm);
  --INTERNAL_form-control-size-md-padding: var(--size-spacing-lg);

  // large
  --INTERNAL_form-control-size-lg-border-radius: var(--size-border-radius-sm);
  --INTERNAL_form-control-size-lg-font-size: var(--size-font-size-md);
  --INTERNAL_form-control-size-lg-padding: var(--size-spacing-lg);

  // --COLORS--
  --INTERNAL_form-control-background-color: var(--color-background-primary);
  --INTERNAL_form-control-background-color-disabled: var(--color-base-grey-50);
  --INTERNAL_form-control-background-color-error: var(
    --color-background-danger
  );
  --INTERNAL_form-control-border-color: var(--color-border-default);
  --INTERNAL_form-control-border-color-error: var(--color-base-red-100);
  --INTERNAL_form-control-border-color-error-disabled: var(
    --color-base-red-100
  );
  --INTERNAL_form-control-border-color-focus: var(--color-border-hover);
  --INTERNAL_form-control-border-color-hover: var(--color-border-hover);
  --INTERNAL_form-control-font-color: var(--color-font-base);
  --INTERNAL_form-control-font-color-disabled: var(--color-font-disabled);
  --INTERNAL_form-control-font-color-error: var(--color-font-danger);
  --INTERNAL_form-control-input-color-error: var(--color-font-danger-input);
  --INTERNAL_form-control-font-color-error-disabled: var(
    --color-font-danger-disabled
  );
  --INTERNAL_form-control-description-color: var(--color-font-secondary);
  --INTERNAL_form-control-icon-color: var(--color-base-grey-300);
  --INTERNAL_form-control-icon-color-hover: var(--color-base-grey);
  --INTERNAL_form-control-placeholder-color: var(--color-font-placeholder);

  // ----RADIO GROUP----
  --INTERNAL_form-control-radio-group-description-spacing: var(
    --size-spacing-xs
  );
  --INTERNAL_form-control-radio-group-options-spacing: var(--size-spacing-md);

  // ----SELECT INPUT----
  --INTERNAL_form-control-select-sm-icon-size: 20px;
  --INTERNAL_form-control-select-md-icon-size: 32px;
  --INTERNAL_form-control-select-lg-icon-size: 34px;
  --INTERNAL_form-control-select-padding: var(--size-spacing-2xs);
  --INTERNAL_form-control-select-clear-icon-margin: var(--size-spacing-xs);

  // ----TEXT INPUT----
  --INTERNAL_form-control-text-clear-icon-margin: var(--size-spacing-xs);
  --INTERNAL_form-control-text-clear-icon-font-size: var(--size-font-size-md);
}
