:global {
  .rdp {
    color: var(--color-font-base);
    font-size: var(--size-font-size-sm);
    background-color: var(--color-base-primary);
    border-radius: var(--size-border-radius-sm);
    padding: var(--size-spacing-xxs);
  }

  .rdp-months {
    display: flex;
    gap: var(--size-spacing-sm);
  }

  .rdp-nav_button {
    color: inherit;
  }

  .rdp-day {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: var(--size-border-radius-sm);
    margin: 0;
  }

  .rdp-day:hover:not(.rdp-selected):not(.rdp-disabled) {
    background-color: var(--color-base-secondary);
  }

  .rdp-day.rdp-selected {
    background-color: var(--color-accent-primary);
    color: var(--color-base-primary);
  }

  .rdp-day.rdp-today:not(.rdp-selected) {
    border: 1px solid var(--color-accent-primary);
  }

  .rdp-weekday {
    color: var(--color-font-secondary);
  }
}

