.label {
  color: var(--color-font-base);
  font-family: var(
    --form-control-font-family,
    var(--INTERNAL_form-control-font-family)
  );
  font-size: var(--size-font-size-form-label);
  font-weight: var(--size-font-weight-form-label);

  &.radio-input-label {
    font-weight: 400;
  }

  &.disabled {
    color: var(--color-font-disabled);
  }
}
