.label {
  font-family: var(
    --form-control-font-family,
    var(--INTERNAL_form-control-font-family)
  );
  color: var(--color-base-grey-600);
  font-size: var(
    --form-control-size-md-label-size,
    var(--INTERNAL_form-control-size-md-label-size)
  );
  font-weight: var(
    --form-control-label-font-weight,
    var(--INTERNAL_form-control-label-font-weight)
  );

  &.radio-input-label {
    font-weight: 400;
  }

  &.disabled {
    color: var(--color-base-grey-300);
  }

  .help-text {
    margin-top: var(
      --form-control-help-margin,
      var(--INTERNAL_form-control-help-margin)
    );
    font-weight: 400;
  }
}
