.help-text {
  font-family: var(
    --form-control-font-family,
    var(--INTERNAL_form-control-font-family)
  );
  margin-top: var(--size-spacing-xs);
  font-size: var(--size-font-size-form-help-text);
  font-weight: var(--size-font-weight-form-help-text);
}
